body{
    font-family: 'Prompt', sans-serif;

}
h1{
    font-size: 60px;
}
span{
    color: chocolate;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    
    width: 80%;
}